name = "synthetix"
version = "<%= package.version %>"
description = "Core synthetix system"

# `salt` here only affects proxy contract
[setting.salt]
description = "Change this to a unique string when deploying multiple instances of the system. Note that only the proxy contract will be unique."
defaultValue = "main"

[setting.owner]
description = "Admin user for the system"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[setting.oracle_manager_source]
defaultValue = "oracle-manager:1.2.6"

[provision.oracle_manager]
source = "<%= settings.oracle_manager_source %>"
options.owner = "<%= settings.owner %>"
options.salt = "<%= settings.salt %>-oracle"

[contract.InitialModuleBundle]
artifact = "contracts/modules/InitialModuleBundle.sol:InitialModuleBundle"
salt = "<%= settings.salt %>"
create2 = true

[contract.FeatureFlagModule]
artifact = "contracts/modules/core/FeatureFlagModule.sol:FeatureFlagModule"

[contract.AccountModule]
artifact = "contracts/modules/core/AccountModule.sol:AccountModule"

[contract.AssociateDebtModule]
artifact = "contracts/modules/core/AssociateDebtModule.sol:AssociateDebtModule"

[contract.AssociatedSystemsModule]
artifact = "contracts/modules/associated-systems/AssociatedSystemsModule.sol:AssociatedSystemsModule"

[contract.CollateralModule]
artifact = "contracts/modules/core/CollateralModule.sol:CollateralModule"

[contract.CollateralConfigurationModule]
artifact = "contracts/modules/core/CollateralConfigurationModule.sol:CollateralConfigurationModule"

[contract.IssueUSDModule]
artifact = "contracts/modules/core/IssueUSDModule.sol:IssueUSDModule"

[contract.LiquidationModule]
artifact = "contracts/modules/core/LiquidationModule.sol:LiquidationModule"

[contract.MarketCollateralModule]
artifact = "contracts/modules/core/MarketCollateralModule.sol:MarketCollateralModule"

[contract.MarketManagerModule]
artifact = "contracts/modules/core/MarketManagerModule.sol:MarketManagerModule"

[contract.MulticallModule]
artifact = "contracts/modules/core/MulticallModule.sol:MulticallModule"

[contract.PoolConfigurationModule]
artifact = "contracts/modules/core/PoolConfigurationModule.sol:PoolConfigurationModule"

[contract.PoolModule]
artifact = "contracts/modules/core/PoolModule.sol:PoolModule"

[contract.RewardsManagerModule]
artifact = "contracts/modules/core/RewardsManagerModule.sol:RewardsManagerModule"

[contract.UtilsModule]
artifact = "contracts/modules/core/UtilsModule.sol:UtilsModule"

[contract.VaultModule]
artifact = "contracts/modules/core/VaultModule.sol:VaultModule"

[contract.AccountTokenModule]
artifact = "contracts/modules/account/AccountTokenModule.sol:AccountTokenModule"

[contract.USDTokenModule]
artifact = "contracts/modules/usd/USDTokenModule.sol:USDTokenModule"

# Core
[router.CoreRouter]
contracts = [
    "InitialModuleBundle",
    "FeatureFlagModule",
    "AccountModule",
    "AssociateDebtModule",
    "AssociatedSystemsModule",
    "CollateralModule",
    "CollateralConfigurationModule",
    "IssueUSDModule",
    "LiquidationModule",
    "MarketCollateralModule",
    "MarketManagerModule",
    "MulticallModule",
    "PoolConfigurationModule",
    "PoolModule",
    "RewardsManagerModule",
    "UtilsModule",
    "VaultModule",
]

depends = [
  "contract.InitialModuleBundle",
  "contract.FeatureFlagModule",
  "contract.AccountModule",
  "contract.AssociateDebtModule",
  "contract.AssociatedSystemsModule",
  "contract.CollateralModule",
  "contract.CollateralConfigurationModule",
  "contract.IssueUSDModule",
  "contract.LiquidationModule",
  "contract.MarketCollateralModule",
  "contract.MarketManagerModule",
  "contract.MulticallModule",
  "contract.PoolConfigurationModule",
  "contract.PoolModule",
  "contract.RewardsManagerModule",
  "contract.UtilsModule",
  "contract.VaultModule"
]

[contract.InitialCoreProxy]
artifact = "contracts/Proxy.sol:Proxy"
args = ["<%= contracts.InitialModuleBundle.address %>", "<%= settings.owner %>"]
abiOf = ["InitialModuleBundle"]
salt = "<%= settings.salt %>"
create2 = true
depends = ["contract.InitialModuleBundle"]

[invoke.upgrade_core_proxy]
target = ["InitialCoreProxy"]
abi = "UpgradeModule"
from = "<%= settings.owner %>"
func = "upgradeTo"
args = ["<%= contracts.CoreRouter.address %>"]

factory.CoreProxy.abiOf = ["CoreRouter"]
factory.CoreProxy.event = "Upgraded"
factory.CoreProxy.arg = 0

depends = [
  "contract.InitialCoreProxy",
  "router.CoreRouter"
]

# Account
[router.AccountRouter]
contracts = [
    "InitialModuleBundle",
    "AccountTokenModule",
]
depends = [
  "contract.InitialModuleBundle",
  "contract.AccountTokenModule"
]

# USD
[router.USDRouter]
contracts = [
    "InitialModuleBundle",
    "AssociatedSystemsModule",
    "USDTokenModule",
]
depends = [
  "contract.InitialModuleBundle",
  "contract.AssociatedSystemsModule",
  "contract.USDTokenModule"
]

# Post stuff

[invoke.init_account]
target = ["CoreProxy"]
from = "<%= settings.owner %>"
func = "initOrUpgradeNft"
args = [
  "0x6163636f756e744e667400000000000000000000000000000000000000000000",
  "Synthetix Account",
  "SACCT",
  "https://synthetix.io",
  "<%= contracts.AccountRouter.address %>"
]
depends = [
  "invoke.upgrade_core_proxy",
  "router.AccountRouter"
]
factory.AccountProxy.abiOf = ["AccountRouter"]
factory.AccountProxy.event = "AssociatedSystemSet"
factory.AccountProxy.arg = 2

[invoke.init_usd]
target = ["CoreProxy"]
from = "<%= settings.owner %>"
func = "initOrUpgradeToken"
args = [
  "0x555344546f6b656e000000000000000000000000000000000000000000000000",
  "Synthetic USD Token v3",
  "snxUSD",
  18,
  "<%= contracts.USDRouter.address %>"
]
depends = [
  "invoke.upgrade_core_proxy",
  "router.USDRouter"
]
factory.USDProxy.abiOf = ["USDRouter"]
factory.USDProxy.event = "AssociatedSystemSet"
factory.USDProxy.arg = 2

[invoke.set_oracle_manager]
target = ["CoreProxy"]
from = "<%= settings.owner %>"
func = "configureOracleManager"
args = [
  "<%= imports.oracle_manager.contracts.Proxy.address %>",
]
depends = ["invoke.upgrade_core_proxy", "provision.oracle_manager"]

[invoke.enable_basic_features]
target = ["CoreProxy"]
fromCall.func = "owner"
func = "multicall"
args = [[
  # for all the below functions, "0x7d632bd2" is the selector for "setFeatureFlagAllowAll(bytes32,bool)"
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('createAccount'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('deposit'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('withdraw'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('mintUsd'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('burnUsd'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('liquidate'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('liquidateVault'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('depositMarketCollateral'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('withdrawMarketCollateral'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('depositMarketUsd'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('withdrawMarketUsd'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('claimRewards'), true]).slice(2) %>",
  "0x7d632bd2<%= defaultAbiCoder.encode(['bytes32', 'bool'], [formatBytes32String('delegateCollateral'), true]).slice(2) %>",
]]

depends = ["invoke.upgrade_core_proxy"]