name = "spot-market"
version = "<%= package.version %>"
description = "Spot market implementation"

[setting.marketOwner]
description = "spot market owner"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[import.synthetix]
source = "synthetix-main:1.0.0"

[run.deploy_spot_market]
exec = "scripts/deploy.js"
func = "deploy"
args = ["SpotMarket", ".*"]
modified = ["contracts/modules/core", "scripts"]

[contract.SpotMarketProxy]
artifact = "Proxy"
args = ["<%= contracts.SpotMarketRouter.address %>"]
abi = "SpotMarketRouter"
depends = ["run.deploy_spot_market"]

[contract.FixedFeeCalculator]
artifact = "FixedFee"
args = [
  "<%= settings.marketOwner %>",
  "<%= imports.synthetix.contracts.USDProxy.address %>",
  "<%= imports.synthetix.contracts.CoreProxy.address %>",
  20
]
depends = ["import.synthetix"]

[invoke.acquire_ownership]
target = ["MarketProxy"]
from = "<%= settings.marketOwner %>"
func = "initializeOwnerModule"
args = ["<%= settings.marketOwner %>"]
depends = ["contract.MarketProxy"]

[invoke.init_market]
target = ["MarketProxy"]
from = "<%= settings.marketOwner %>"
func = "initialize"
args = [
  "<%= imports.synthetix.contracts.CoreProxy.address %>",
  "<%= imports.synthetix.contracts.USDProxy.address %>",
  "Synthetic BTC",
  "snxBTC",
  18,
  "<%= contracts.FixedFeeCalculator.address %>",
  "0x7465737400000000000000000000000000000000000000000000000000000000", # TODO: get actual oracle feedId
  "0x7465737400000000000000000000000000000000000000000000000000000000" # TODO: get actual oracle feedId
]
depends = ["invoke.acquire_ownership", "contract.FixedFeeCalculator"]
