name = "spot-market"
version = "<%= package.version %>"
description = "Spot market implementation"

[setting.marketOwner]
description = "spot market owner"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[import.synthetix]
source = "synthetix:3"

# enable pool creation feature
[invoke.enablePoolCreation]
target = ["v3.CoreProxy"]
func = "setFeatureFlag"
args = ["0x706f6f6c00000000000000000000000000000000000000000000000000000000", true] # formatBytes32String("pool")
fromCall.func = "owner"
depends = ["import.synthetix"]

# add pool owner to feature flag allow list
[invoke.addPoolOwnerToFeatureFlag]
target = ["v3.CoreProxy"]
func = "addToFeatureFlag"
args = ["0x706f6f6c00000000000000000000000000000000000000000000000000000000", "<%= settings.marketOwner %>"] # formatBytes32String("pool")
fromCall.func = "owner"
depends = ["invoke.enablePoolCreation"]

[run.deploy_spot_market]
exec = "scripts/deploy.js"
func = "deploy"
args = ["SpotMarket", ".*"]
modified = ["contracts", "scripts"]

[contract.SpotMarketProxy]
artifact = "Proxy"
args = ["<%= contracts.SpotMarketRouter.address %>"]
abi = "SpotMarketRouter"
depends = ["run.deploy_spot_market"]

[contract.FixedFeeCalculator]
artifact = "FixedFee"
args = [
  "<%= settings.marketOwner %>",
  "<%= imports.synthetix.contracts.USDProxy.address %>",
  "<%= imports.synthetix.contracts.CoreProxy.address %>",
  20
]
depends = ["import.synthetix"]

[invoke.acquire_ownership]
target = ["SpotMarketProxy"]
from = "<%= settings.marketOwner %>"
func = "initializeOwnerModule"
args = ["<%= settings.marketOwner %>"]
depends = ["contract.SpotMarketProxy"]

[invoke.init_market]
target = ["SpotMarketProxy"]
from = "<%= settings.marketOwner %>"
func = "initialize"
args = [
  "<%= imports.synthetix.contracts.CoreProxy.address %>",
  "<%= imports.synthetix.contracts.USDProxy.address %>",
  "Synthetic BTC",
  "snxBTC",
  18,
  "<%= contracts.FixedFeeCalculator.address %>",
  "0x7465737400000000000000000000000000000000000000000000000000000000", # TODO: get actual oracle feedId
  "0x7465737400000000000000000000000000000000000000000000000000000000" # TODO: get actual oracle feedId
]
depends = ["invoke.acquire_ownership", "contract.FixedFeeCalculator"]
