name = "spot-market"
version = "<%= package.version %>"
description = "Spot market implementation"

[setting.coreProxyOwner]
description = "owner of v3 core proxy"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[setting.marketOwner]
description = "spot market owner"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[import.core_router]
source = "core-router:1.0.0"
options.salt = "<%= settings.salt %>"
options.owner = "<%= settings.owner %>"

[import.synthetix]
source = "synthetix:3.0.0-alpha.2"

[contract.SpotMarketFactoryModule]
artifact = "SpotMarketFactoryModule"

[contract.SpotMarketModule]
artifact = "SpotMarketModule"

[contract.WrapperModule]
artifact = "WrapperModule"

[run.generate_router]
exec = "@synthetixio/hardhat-router/utils/cannon"
func = "generate"
args = [
  "contracts/routers/chain-<%= chainId %>/Router.sol:Router",
  '''<%= JSON.stringify({
    CoreModule: imports.core_router.contracts.CoreModule,
    SpotMarketFactoryModule: contracts.SpotMarketFactoryModule,
    SpotMarketModule: contracts.SpotMarketModule,
    WrapperModule: contracts.WrapperModule,
  }) %>'''
]
modified = ["contracts"]
depends = [
  "import.core_router",
  "contract.SpotMarketFactoryModule",
  "contract.SpotMarketModule",
  "contract.WrapperModule"
]

[contract.Router]
artifact = "contracts/routers/chain-<%= chainId %>/Router.sol:Router"
abiOf = [
  "core_router.CoreModule",
  "SpotMarketFactoryModule",
  "SpotMarketModule",
  "WrapperModule"
]
depends = ["run.generate_router"]

[invoke.upgrade_proxy]
target = ["core_router.Proxy"]
from = "<%= settings.owner %>"
func = "upgradeTo"
args = ["<%= contracts.Router.address %>"]
factory.Proxy.abiOf = ["Router"]
factory.Proxy.event = "Upgraded"
factory.Proxy.arg = 0
depends = ["contract.Router"]

# add pool owner to feature flag allow list (owner must be pdao for this to be successful)
[invoke.addSpotMarketToFeatureFlag]
target = ["synthetix.CoreProxy"]
func = "addToFeatureFlagAllowlist"
from = "<%= settings.coreProxyOwner %>"
args = ["0x72656769737465724d61726b6574000000000000000000000000000000000000", "<%= contracts.SpotMarketProxy.address %>"] # formatBytes32String("registerMarket")
depends = ['import.synthetix', 'contract.SpotMarketProxy']
