name = "synthetix-bfp-market"
version = "<%= package.version %>-testable"
description = "bfp-market for Synthetix v3"

# NOTE: '0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266' (Anvil signer[0])
[setting.owner]
description = "bfp-market owner"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[setting.synthetixPreset]
defaultValue = "main"

[setting.synthetixPackage]
defaultValue = "synthetix:latest"

[setting.salt]
defaultValue = "snax"

# --- External Imports --- #

[import.synthetix]
source = "<%= settings.synthetixPackage %>"
preset = "<%= settings.synthetixPreset %>"

[import.pyth]
source = "pyth"
args = [120, 1] # 120s, 1wei

# --- Module Contracts --- #

[contract.OrderModule]
artifact = "OrderModule"
args = ["<%= imports.synthetix.contracts.USDProxy.address %>"]

[contract.LiquidationModule]
artifact = "LiquidationModule"
args = ["<%= imports.synthetix.contracts.USDProxy.address %>"]

[contract.PerpMarketFactoryModule]
artifact = "PerpMarketFactoryModule"
args = []

[contract.MarketConfigurationModule]
artifact = "MarketConfigurationModule"
args = []

[contract.PerpAccountModule]
artifact = "PerpAccountModule"
args = ["<%= imports.synthetix.contracts.USDProxy.address %>"]

[contract.MarginModule]
artifact = "MarginModule"
args = ["<%= imports.synthetix.contracts.USDProxy.address %>"]

[contract.PerpRewardDistributorFactoryModule]
artifact = "contracts/modules/PerpRewardDistributorModule/PerpRewardDistributorFactoryModule.sol:PerpRewardDistributorFactoryModule"
args = []

[contract.FeatureFlagModule]
artifact = "contracts/modules/FeatureFlagModule.sol:FeatureFlagModule"
args = []

[contract.CoreModule]
artifact = "contracts/modules/CoreModule.sol:CoreModule"
args = []

[contract.SettlementHookModule]
artifact = "contracts/modules/SettlementHookModule.sol:SettlementHookModule"
args = []

# --- Distributor contract --- #

[contract.PerpRewardDistributor]
artifact = "contracts/modules/PerpRewardDistributorModule/PerpRewardDistributor.sol:PerpRewardDistributor"
args = []

# --- Market proxy contract --- #

[contract.InitialBfpMarketProxy]
artifact = "contracts/Proxy.sol:Proxy"
args = ["<%= contracts.CoreModule.address %>", "<%= settings.owner %>"]
abiOf = ["CoreModule"]
salt = "<%= settings.salt %>"

# --- Test helper module (only available for local test builds) --- #

[contract.__TestHelperModule]
artifact = "contracts/mocks/modules/__TestHelperModule.sol:__TestHelperModule"
args = ["<%= imports.synthetix.contracts.USDProxy.address %>"]

# --- Core router --- #

[router.BfpMarketRouter]
contracts = [
    "synthetix.AccountModule",
    "synthetix.AssociatedSystemsModule",
    "CoreModule",
    "FeatureFlagModule",
    "PerpMarketFactoryModule",
    "MarketConfigurationModule",
    "PerpAccountModule",
    "MarginModule",
    "OrderModule",
    "LiquidationModule",
    "PerpRewardDistributorFactoryModule",
    "SettlementHookModule",
    "__TestHelperModule",
]

# --- Proxy post deployment --- #

[invoke.upgradeProxy]
target = ["InitialBfpMarketProxy"]
fromCall.func = "owner"
func = "upgradeTo"
args = ["<%= contracts.BfpMarketRouter.address %>"]
factory.BfpMarketProxy.abiOf = ["BfpMarketRouter"]
factory.BfpMarketProxy.event = "Upgraded"
factory.BfpMarketProxy.arg = 0

# @see: https://github.com/Synthetixio/synthetix-v3/blob/main/utils/core-modules/contracts/interfaces/IAssociatedSystemsModule.sol#L63
[invoke.init_or_upgrade_nft]
target = ["BfpMarketProxy"]
fromCall.func = "owner"
func = "initOrUpgradeNft"
args = [
    "<%= formatBytes32String('accountNft') %>",
    "Synthetix V3: BFP Account NFT",
    "SNX-V3-BFP-ACC",
    "",
    "<%= imports.synthetix.contracts.AccountRouter.address %>",
]
factory.PerpAccountProxy.abiOf = ["synthetix.AccountRouter"]
factory.PerpAccountProxy.event = "AssociatedSystemSet"
factory.PerpAccountProxy.arg = 2

# --- Mocks --- #

[contract.SettlementHookMock]
artifact = "contracts/mocks/SettlementHookMock.sol:SettlementHookMock"
args = ["<%= contracts.InitialBfpMarketProxy.address %>"]
salt = "1"

[contract.SettlementHook2Mock]
artifact = "contracts/mocks/SettlementHookMock.sol:SettlementHookMock"
args = ["<%= contracts.InitialBfpMarketProxy.address %>"]
salt = "2"

[contract.CollateralMock]
artifact = "contracts/mocks/CollateralMock.sol:CollateralMock"
args = []
salt = "1"

[contract.Collateral2Mock]
artifact = "contracts/mocks/CollateralMock.sol:CollateralMock"
args = []
salt = "2"

[contract.CollateralMockD18]
artifact = "contracts/mocks/CollateralMock.sol:CollateralMock"
args = []
salt = "3"

[contract.CollateralMockD8]
artifact = "contracts/mocks/CollateralMock.sol:CollateralMock"
args = []
salt = "4"

[invoke.initialize_collateral_mock]
target = ["CollateralMock"]
func = "initialize"
args = ["CollateralMock", "CMOCK", "18"]

[invoke.initialize_collateral2_mock]
target = ["Collateral2Mock"]
func = "initialize"
args = ["Collateral2Mock", "CMOCK2", "18"]

[invoke.initialize_collateral_mock_d18]
target = ["CollateralMockD18"]
func = "initialize"
args = ["CollateralMockD18", "CMD18", "18"]

[invoke.initialize_collateral_mock_d8]
target = ["CollateralMockD8"]
func = "initialize"
args = ["CollateralMockD18", "CMD8", "8"]

[contract.MergeAccountSettlementHookMock]
artifact = "contracts/mocks/MergeAccountSettlementHookMock.sol:MergeAccountSettlementHookMock"
args = ["<%= contracts.InitialBfpMarketProxy.address %>"]
salt = "3"

# --- Market Post BFP Deployment Configuration --- #

[invoke.set_synthetix]
target = ["BfpMarketProxy"]
fromCall.func = "owner"
func = "setSynthetix"
args = ["<%= imports.synthetix.contracts.CoreProxy.address %>"]

[invoke.set_pyth]
target = ["BfpMarketProxy"]
fromCall.func = "owner"
func = "setPyth"
args = ["<%= imports.pyth.contracts.Pyth.address %>"]

[invoke.set_reward_distributor_implementation]
target = ["BfpMarketProxy"]
fromCall.func = "owner"
func = "setRewardDistributorImplementation"
args = ["<%= contracts.PerpRewardDistributor.address %>"]

# --- Feature flags --- #

[invoke.add_to_feature_flag_allowlist_register_market]
target = ["synthetix.CoreProxy"]
func = "addToFeatureFlagAllowlist"
from = "<%= settings.owner %>"
args = [
    "<%= formatBytes32String('registerMarket') %>",
    "<%= contracts.BfpMarketProxy.address %>",
]

[invoke.enable_all_features]
target = ["BfpMarketProxy"]
func = "enableAllFeatures"
from = "<%= settings.owner %>"
