.DS_Store
.env
.nyc_output
.vscode
**/coverage*
**/deployments
/markets/*/test/generated
/protocol/*/test/generated
/utils/*/test/generated
/utils/hardhat-router/test
**/contracts/routers
artifacts
cache
coverage
dist
node_modules
Router.sol
typechain-types
lerna-debug.log

# Yarn v3
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
.yarn/versions
