[submodule "auxiliary/TrustedMulticallForwarder/lib/openzeppelin-contracts"]
	path = auxiliary/TrustedMulticallForwarder/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
