.DS_Store
.env
.nyc_output
.vscode
**/coverage*
**/deployments
/**/test/generated
/**/contracts/generated
/utils/hardhat-router/test
**/contracts/routers
artifacts
cache
coverage
dist
node_modules
Router.sol
typechain-types
lerna-debug.log
docs/
junit
storage.new.dump.json

lib/
out/
cache_forge/

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

