*.dump.sol
**/coverage*
build/
node_modules/
**/contracts/generated
**/contracts/routers
**/dist/
**/node_modules/
**/typechain-types
utils/*/utils
utils/*/test/generated
protocol/*/test/generated
markets/*/test/generated
*Router.sol
.yarnrc.yml
lerna.json
*.hbs