*.dump.sol
**/coverage*
build/
node_modules/
**/contracts/modules/test
**/contracts/routers
**/dist/
**/node_modules/
**/typechain-types
utils/core-router/index.*
utils/core-router/util
utils/core-utils/utils
utils/*/test/generated
protocol/*/test/generated
Router.sol
