name = "synthetix-sample-project"
version = "<%= package.version %>"
description = "Sample usage of the router manager"

[setting.salt]
description = "Change this to a unique string when deploying multiple instances of the system. Note that only the proxy contract will be unique."
defaultValue = "sample-project"

[setting.owner]
description = "Admin user for the system"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[setting.core_router_package]
description = "Package version of @synthetixio/core-router to use"
defaultValue = "core-router:1.0.0"

[import.core_router]
source = "<%= settings.core_router_package %>"
options.salt = "<%= settings.salt %>"
options.owner = "<%= settings.owner %>"

[contract.CoreModule]
artifact = "contracts/modules/CoreModule.sol:CoreModule"

[contract.InitializableModule]
artifact = "InitializableModule"

[contract.SettingsModule]
artifact = "SettingsModule"

[contract.SomeModule]
artifact = "SomeModule"

[contract.AnotherModule]
artifact = "AnotherModule"

[run.generate_router]
exec = "@synthetixio/hardhat-router/utils/cannon"
func = "generate"
args = [
  "contracts/routers/chain-<%= chainId %>/Router.sol:Router",
  '''<%= JSON.stringify({
    CoreModule: contracts.CoreModule,
    InitializableModule: contracts.InitializableModule,
    SettingsModule: contracts.SettingsModule,
    SomeModule: contracts.SomeModule,
    AnotherModule: contracts.AnotherModule,
  }) %>'''
]
modified = ["contracts"]
depends = [
  "contract.CoreModule",
  "contract.InitializableModule",
  "contract.SettingsModule",
  "contract.SomeModule",
  "contract.AnotherModule"
]

[contract.Router]
artifact = "contracts/routers/chain-<%= chainId %>/Router.sol:Router"
abiOf = [
  "CoreModule",
  "InitializableModule",
  "SettingsModule",
  "SomeModule",
  "AnotherModule"
]
depends = ["run.generate_router"]

[invoke.upgrade_proxy]
target = ["core_router.Proxy"]
from = "<%= settings.owner %>"
func = "upgradeTo"
args = ["<%= contracts.Router.address %>"]
factory.Proxy.abiOf = ["Router"]
factory.Proxy.event = "Upgraded"
factory.Proxy.arg = 0
depends = ["import.core_router", "contract.Router"]
