name = "oracle-manager"
version = "<%= package.version %>"
description = "Core synthetix oracle manager"

# `salt` here only affects proxy contract
[setting.salt]
description = "Change this to a unique string when deploying multiple instances of the system. Note that only the proxy contract will be unique."
defaultValue = "oracle-manager"

[setting.owner]
description = "Admin user for the system"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[contract.NodeModule]
artifact = "contracts/modules/NodeModule.sol:NodeModule"

[contract.CoreModule]
artifact = "contracts/modules/CoreModule.sol:CoreModule"

[contract.InitialProxy]
artifact = "contracts/Proxy.sol:Proxy"
args = ["<%= contracts.CoreModule.address %>"]
abiOf = ["CoreModule"]
salt = "<%= settings.salt %>"
depends = ["contract.CoreModule"]

[invoke.acquire_ownership]
target = ["InitialProxy"]
from = "<%= settings.owner %>"
func = "initializeOwnerModule"
args = ["<%= settings.owner %>"]
depends = ["contract.InitialProxy"]

[router.OracleRouter]
contracts = ["CoreModule", "NodeModule"]
depends = [
  "contract.CoreModule",
  "contract.NodeModule"
]

[invoke.upgrade_proxy]
target = ["InitialProxy"]
from = "<%= settings.owner %>"
func = "upgradeTo"
args = ["<%= contracts.OracleRouter.address %>"]
factory.Proxy.abiOf = ["OracleRouter"]
factory.Proxy.event = "Upgraded"
factory.Proxy.arg = 0
depends = ["invoke.acquire_ownership", "router.OracleRouter"]
