name = "erc-4626-to-assets-ratio-oracle"
version = "<%= package.version %>"
description = "<%= package.description %>"

# Mocks are deployed so the cannonfile will build successfully by default
[deploy.ERC20Mock]
artifact = "contracts/mocks/ERC20Mock.sol:ERC20Mock"

[deploy.ERC4626Mock]
artifact = "contracts/mocks/ERC4626Mock.sol:ERC4626Mock"
args = ["<%= contracts.ERC20Mock.address %>"]

[setting.vault]
defaultValue = "<%= contracts.ERC4626Mock.address %>"

# Changing the vault will change the address of the node, per CREATE2
[contract.ERC4626ToAssetsRatioOracle]
artifact = "contracts/ERC4626ToAssetsRatioOracle.sol:ERC4626ToAssetsRatioOracle"
args = ["<%= settings.vault %>"]
create2 = true
