[setting.salt]
defaultValue = "governance"

[setting.owner]

[contract.InitialModuleBundle]
artifact = "contracts/modules/core/InitialModuleBundle.sol:InitialModuleBundle"
salt = "<%= settings.bundleSalt !== 'main' ? settings.bundleSalt : settings.salt %>"
create2 = true
salt = "<%= settings.salt %>"

[contract.InitialProxy]
artifact = "contracts/Proxy.sol:Proxy"
args = ["<%= contracts.InitialModuleBundle.address %>", "<%= settings.owner %>"]
salt = "<%= settings.salt %>"
abiOf = ["InitialModuleBundle"]
create2 = true

[pull.trusted_multicall_forwarder]
source = "trusted-multicall-forwarder@with-synthetix"
