name = "synthetix-main"
description = "Core synthetix system"

# `salt` here only affects proxy contract
[setting.salt]
description = "Change this to a unique string when deploying multiple instances of the system. Note that only the proxy contract will be unique."
defaultValue = "main"

[setting.owner]
description = "Admin user for the system"
defaultValue = "0xf39fd6e51aad88f6f4ce6ab8827279cfffb92266"

[run.deploy_account]
exec = "scripts/deploy.js"
func = "deploy"
args = ["Account", ".*/(account|common)/.*"]
modified = ["contracts/modules/account", "scripts"]

[run.deploy_snx]
exec = "scripts/deploy.js"
func = "deploy"
args = ["SNX", ".*/(snx|common)/.*"]
modified = ["contracts/modules/snx", "scripts"]

[run.deploy_usd]
exec = "scripts/deploy.js"
func = "deploy"
args = ["USD", ".*/(usd|common)/.*"]
modified = ["contracts/modules/usd", "scripts"]

[run.deploy_esnx]
exec = "scripts/deploy.js"
func = "deploy"
args = ["ESNX", ".*/(esnx|common)/.*"]
modified = ["contracts/modules/esnx", "scripts"]

[run.deploy_core]
exec = "scripts/deploy.js"
func = "deploy"
args = ["Core", ".*/(core|common)/.*"]
modified = ["contracts/modules/core", "scripts"]

[contract.CoreProxy]
artifact = "Synthetix"
args = ["<%= contracts.CoreRouter.address %>"]
abi = "CoreRouter"

depends = ["run.deploy_core"]

[invoke.acquire_ownership]
target = ["CoreProxy"]
from = "<%= settings.owner %>"
func = "initializeOwnerModule"
args = ["<%= settings.owner %>"]
depends = ["contract.CoreProxy"]

[invoke.init_account]
target = ["CoreProxy"]
from = "<%= settings.owner %>"
func = "initOrUpgradeNft"
args = ["0x6163636f756e744e667400000000000000000000000000000000000000000000", "Synthetix Account", "SACCT", "https://synthetix.io", "<%= contracts.AccountRouter.address %>"]
depends = ["invoke.acquire_ownership", "run.deploy_account"]

factory.AccountProxy.abiOf = "AccountRouter"
factory.AccountProxy.event = "AssociatedSystemSet"
factory.AccountProxy.arg = 2

[invoke.init_snx]
target = ["CoreProxy"]
from = "<%= settings.owner %>"
func = "initOrUpgradeToken"
args = ["0x534e58546f6b656e000000000000000000000000000000000000000000000000", "Synthetix System Token", "SNX", 18, "<%= contracts.SNXRouter.address %>"]
depends = ["invoke.acquire_ownership", "run.deploy_snx"]

factory.SNXProxy.abiOf = "SNXRouter"
factory.SNXProxy.event = "AssociatedSystemSet"
factory.SNXProxy.arg = 2

[invoke.init_esnx]
target = ["CoreProxy"]
from = "<%= settings.owner %>"
func = "initOrUpgradeToken"
args = ["0x65534e58546f6b656e0000000000000000000000000000000000000000000000", "Escrowed Synthetix", "eSNX", 18, "<%= contracts.ESNXRouter.address %>"]
depends = ["invoke.acquire_ownership", "run.deploy_esnx"]

factory.ESNXProxy.abiOf = "ESNXRouter"
factory.ESNXProxy.event = "AssociatedSystemSet"
factory.ESNXProxy.arg = 2

[invoke.init_usd]
target = ["CoreProxy"]
from = "<%= settings.owner %>"
func = "initOrUpgradeToken"
args = ["0x555344546f6b656e000000000000000000000000000000000000000000000000", "Synthetic USD Token v3", "snxUSD", 18, "<%= contracts.USDRouter.address %>"]
depends = ["invoke.acquire_ownership", "run.deploy_usd"]

factory.USDProxy.abiOf = "USDRouter"
factory.USDProxy.event = "AssociatedSystemSet"
factory.USDProxy.arg = 2