name: "Validate yarn.lock and cache"

on: [pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.16.0"
          cache: "yarn"

      # The following steps are for checking the validity of the yarn.lock edits.
      # This will make sure that the file and the package cache have not been tempered with.
      - run: yarn install --immutable --immutable-cache --check-cache
