name: Docgen

on:
  push:
    branches:
      - "docgen"

jobs:
  docgen:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.15.0"
          cache: "yarn"
      - run: yarn --version
      - run: yarn install --immutable --immutable-cache
      - run: yarn workspaces foreach --topological-dev --verbose run build:ts
      - run: yarn docgen
      - run: git diff --exit-code
