name: Lint
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Install Foundry (Cannon)
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - run: anvil -V
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18.16.0"
          cache: "yarn"
      - run: yarn --version
      - run: yarn install --immutable --immutable-cache
      - run: yarn dedupe --check
      - run: yarn deps
      - run: yarn deps:mismatched
      - run: yarn deps:circular
      # - run: yarn build
      # - run: yarn tsc --noEmit To be able to check type we need to generate, all typechain types. Currently that happens when you run tests, a nice improvment would be to add a hardhat task for that
      - run: yarn lint
